---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.url != '/sitemap.xml' %}
  <url>
    <loc>https://parkcitybest.com{{ page.url }}</loc>
    <lastmod>2025-07-05</lastmod>
    <changefreq>{% if page.url == '/' or page.url == '/restaurants/' %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == '/' %}1.0{% elif page.url == '/restaurants/' %}0.9{% elif page.url == '/about/' or page.url == '/contact/' %}0.7{% else %}0.6{% endif %}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>